*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background:#f1f1f1;
  text-align:center;
}
h1 {
  background-color:black;
  color:white;
  margin-bottom:10px;
  padding:10px;
  text-align:center;
}
.form input,.form button {
  width:200px;
  height:30px;
  border:1px solid #ccc;
  border-radius:5px;
  padding:5px;
  margin:5px;
}
button {
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

.post {
  display:block;
  width:70%;
  background-color:white;
  border:1px solid #ccc;
  padding:10px;
  margin:5px auto;
}
.post button {
  display:inline-block;
  width:150px;
  height:30px;
  font-size:16px;
  margin:5px;
}
.post h2 , .post p {
  margin:5px;
}